<div class="flex gap-2 mt-5">
    <div>
        <p-button 
        label="Ant."
        icon="pi pi-arrow-left"
        severity="secondary"
        (onClick)="alterarMes(-1)"
        />
    </div>
    <div class="calendario-titulo-mes-ano">{{dataAtual | date : 'MMM yyyy'}}</div>
    <div>
        <p-button 
        label="Prox."
        icon="pi pi-arrow-right"
        severity="secondary"
        (onClick)="alterarMes(+1)"
        />
    </div>
</div>
<div class="calendario-dias">
    <ng-container *ngFor="let dia of diasCalendario; let i = index">
        <div *ngIf="i < 7">
            <strong>{{ dia | date: 'EEEEE' }}</strong>
        </div>
    </ng-container>
    <div *ngFor="let dia of diasCalendario; let i = index"
        class="calendario-dia"
        [class.calendario-quebrar-linha]="i % 7 === 0"
        [class.calendario-dia-nao-faz-parte-mes-atual]="dataAtual.getMonth() !== dia.getMonth()">
        {{dia | date : 'dd'}}
    </div>
</div>
